.custom-dot {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #f4f4f4;
  display: inline-block;
  margin: 0 12px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.active-dot {
  background-color: #625FFB;
}

.sample-next-arrow {
  display: flex;
  align-items: center;
  padding: 17px 27px 18px;
  width: 122px;
  background: #efefef;
  border-radius: 72px;
  position: absolute;
  top: -131px;
  right: 40px;
}

.sample-next-arrow p {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #263238;
  margin-right: 10px;
}
